<!DOCTYPE html>
<html>

<head>

<title>MedTrack Login</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>

{% include 'navigation.html' %}

<div class="card">


<h1>💚 MedTrack AI</h1>

<h2>Sickbay Login</h2>


<form method="POST">


<input 
name="username"
placeholder="Username">


<input 
type="password"
name="password"
placeholder="Password">


<button>
Login
</button>


</form>


<p>
Test Accounts:
<br><br>

Admin:
<br>
Username: admin
<br>
Password: 1234

<br><br>

Nurse:
<br>
Username: nurse
<br>
Password: 1234

</p>


</div>


</body>

</html>
