<div class="top-nav">

    <a href="/">
        🏠 Dashboard
    </a>

    <a href="/students">
        👨‍🎓 Students
    </a>

    <a href="/records">
        📋 Records
    </a>

    <a href="/medicines">
        💊 Inventory
    </a>

    <a href="/symptoms">
        🤖 AI Check
    </a>

    <a href="/search">
        🔍 Search
    </a>
    <a href="/admin">
👨‍💼 Admin
</a>

</div>


<div class="nav-buttons">

    <button onclick="history.back()" class="back-btn">
        ← Back
    </button>


    <button onclick="history.forward()" class="next-btn">
        Next →
    </button>

</div>
